.form-container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-width:600px;
    padding:40px;
    gap:20px;
    border:2px solid black;

}

 body{
    margin:auto;
    width:50%;
 }

.btn{
    background-color:rgb(43, 164, 79);
    width:150px;
    font-size: medium;
}